/* Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --orange: #fea301;
  --sky-blue: #01acfd;
  --cyan: #05d4df;
  --violet: #5d58ef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.orange {
  background-color: #fea301;
}

main {
  background: url("../assets/bg.png"),
    linear-gradient(360deg, hsla(38, 99%, 50%, 0.3) 0%, white 30%);
}
.quicksand {
  font-family: "Quicksand", serif;
  font-style: normal;
}

.hr {
  display: none;
}

.size {
  width: 367px;
  height: 476px;
}
/* Header Styles */
header {
  max-width: 1280px;
  margin: 20px auto;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  font-size: 1.25rem;
}

.home {
  color: var(--orange);
  font-weight: bold;
}

.about {
  color: var(--sky-blue);
  font-weight: bold;
}

.facilities {
  color: var(--cyan);
  font-weight: bold;
}

.admission {
  color: var(--violet);
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 2rem;
}

nav button {
  width: 197px;
  height: 50px;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}

.bars {
  display: none;
}

.hero {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-content h2 {
  font-size: 3.5rem;
}

.empowering {
  color: var(--orange);
}

.vision {
  color: var(--sky-blue);
}

.hero-content p {
  font-size: 1.25rem;
}

.hero-content button {
  width: 12.3125rem;
  height: 50px;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: black;
}

marquee {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--cyan);
  color: white;
  padding: 10px;
  margin-top: 30px;
}

.standard-curriculum {
  max-width: 1280px;
  margin: 1px auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.standard-curriculum h2 {
  margin-top: 100px;
  font-size: 2.9rem;
}

.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cards h2 {
  font-size: 1.5rem;
}

.cards p {
  font-size: 0.9rem;
}

.cards button {
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  background: none;
}

.blue-card {
  background: linear-gradient(180deg, #def5ff 0%, white 30%);
  border-radius: 19px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #def5ff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.098);
}

.blue-card button {
  color: var(--sky-blue);
}

.yellow-card {
  background: linear-gradient(180deg, #fff4dc 0%, white 30%);
  border: 1px solid #fff4dc;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.098);
}

.yellow-card button {
  color: var(--orange);
}

.pink-card {
  background: linear-gradient(180deg, #f2e8ff 0%, white 30%);
  border: 1px solid #f2e8ff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.098);
}

.pink-card button {
  color: var(--violet);
}
.icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.icons button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--orange);
  border: none;
  align-items: center;
}

.our-stories {
  max-width: 1280px;
  padding: 20px auto;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.our-stories h2 {
  margin-top: 60px;
  font-size: 2.9rem;
}

.stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stories-small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.story-1 {
  width: 540px;
  height: 630px;
  border-radius: 16px;
  background-color: white;
  background-image: url("../assets/story-1.png");
  background-repeat: no-repeat;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.story-1 h3 {
  margin-top: 395px;
  font-size: 1.5rem;
}

.story-1 button {
  position: relative;
  width: 12.3125rem;
  height: 30px;
  border: none;
  color: white;
  border-radius: 26px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: black;
  text-align: center;
  align-items: center;
  margin-top: -61%;
}

.story {
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
}
.story h3 {
  margin-top: 215px;
  font-size: 1rem;
}
.story-2 {
  background-image: url("../assets/story-2.png");
  background-repeat: no-repeat;
}

.story button {
  position: relative;
  width: 8.3125rem;
  height: 30px;
  border: none;
  color: white;
  border-radius: 26px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -65%;
}

.story-3 {
  background-image: url("../assets/story-3.png");
  background-repeat: no-repeat;
}

.story-4 {
  background-image: url("../assets/story-4.png");
  background-repeat: no-repeat;
}

.story-5 {
  background-image: url("../assets/story-5.png");
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  header {
    margin: 0.75rem 1rem;
  }
  .logo h1 {
    display: none;
  }

  .logo img {
    width: 46px;
    height: 46px;
  }
  nav ul {
    display: none;
  }
  nav button {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bars {
    display: flex;
    width: 30px;
    height: 30px;
  }

  .hero {
    flex-direction: column-reverse;
    margin: 0.75rem 1rem;
    gap: 1.25rem;
  }

  .hero-content {
    gap: 1rem;
    text-align: center;
    align-items: center;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }

  .hero-content button {
    font-size: 1rem;
    width: 8.3125rem;
    height: 42px;
  }

  .hero img {
    width: 100%;
  }

  .hr {
    display: block;
    background-color: var(--orange);
  }

  .standard-curriculum {
    margin: 0.75rem 1rem;
    gap: 22px;
  }
  .standard-curriculum h2 {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  .cards {
    margin-top: 20px;
    flex-direction: column;
    margin: 0px;
    gap: 20px;
  }
  .size {
    width: 100%;
    height: 320px;
  }

  .cards h2 {
    font-size: 1rem;
  }
  .cards p {
    font-size: 0.6rem;
  }
  .cards button {
    font-size: 0.65rem;
  }

  .cards img {
    width: 90px;
    height: 90px;
  }
  .icons {
    display: none;
  }

  .our-stories {
    margin: 0.75rem 1rem;
  }

  .our-stories h2 {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .stories {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .story-1 {
    display: none;
  }

  .story{
    width: 173px;
    height: 180px;
    background-size: contain;
  }

  .story h3{
    margin-top: 118px;
    font-size: 0.6rem;
  }
}
